<h2>Add category or go <a href="/?viewType=write">back</a></h2>
<form method="post" action="/add">
    <p>
        <label>Category name:</label>
        <input type="text" name="categoryname">
    </p>
    <p>
        <input type="submit" value="Add">
    </p>
</form>