<% if (categoryId) {%>
<h2>Select category or go <a href="/?categoryId=<%- categoryId %>">back</a></h2>
<% } else { %>
<h2>Select category or go <a href="/">back</a></h2>
<% } %>

<form method="post" action="/delCategory">

    <label>
        Category:
        <select name="categoryid">
            <% categories.forEach(function(category){ %>
            <option value="<%= category.id %>">
                <%= category.name %>
            </option>
            <% }); %>
        </select>
    </label>

    <input type="submit" value="Delete">

</form>