<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <script src="tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

    <style>
        body {
            padding: 50px;
            font: 13px Helvetica, Arial, sans-serif;
        }
        .error {
            color: red;
        }
        .success {
            color: green;
        }

        .message {
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>
<body>