<% var title = 'Main page' %>
<% include head %>

<h1>This is main.js page</h1>
You can <a href="/logout">logout</a>
<i><%- message %></i>
<hr>

<% if (viewType == 'read') { %>
    <% include read %>
<% } else { %>
    <% include write %>
<% } %>

<% include foot %>