<% var title = 'Registration page' %>
<% include head %>

<h1><a href="/">Main</a></h1>
<h2>Register</h2>
<%- message %>
If you already registered go <a href="/login">login</a>
<form method="post" action="/register">
    <p>
        <label>Username:</label>
        <input type="text" name="username">
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit" value="Register">
    </p>
</form>

<% include foot %>